{% extends "layouts/main.html" %}

{% block pageTitle %}
Reporting a crime – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-xl">Glossary</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <nav class="glossary-nav-letters">
          <h2 class="govuk-heading-l">Contents</h2>
      
          <ul class="govuk-list">
            <li><a href="#a">A</a></li>
            <li><a href="#b">B</a></li>
            <li><a href="#c">C</a></li>
            <li><a href="#d">D</a></li>
            <li><a href="#e">E</a></li>
            <li><a href="#f">F</a></li>
            <li><a href="#i">I</a></li>
            <li><a href="#m">M</a></li>
            <li><a href="#n">N</a></li>
            <li><a href="#o">O</a></li>
            <li><a href="#p">P</a></li>
            <li><a href="#r">R</a></li>
            <li><a href="#s">S</a></li>
            <li><a href="#t">T</a></li>
            <li><a href="#u">U</a>
            </li>
          </ol>
        </nav>
      </div><!-- col -->
      <div class="govuk-grid-column-three-quarters">        
        <h2 class="govuk-heading-l" id="a">A</h2>

        <h3 id="acceptable-threshold">Acceptable threshold</h3>

        <p>The acceptable threshold is the lowest level of performance which screening services are expected to attain. All screening services should exceed the acceptable threshold and agree service improvement plans to meet the achievable threshold. Screening services not meeting the acceptable threshold are expected to put in place recovery plans to deliver rapid and sustained improvement.</p>

        <h3 id="achievable-threshold">Achievable threshold</h3>

        <p>The achievable threshold represents the level at which the screening service is likely to be running optimally. All screening services should aspire to attain and maintain performance at or above this level.</p>

        <h3 id="actionable-referral-outcome-grade">Actionable referral outcome grade</h3>

        <p>The referral outcome (as opposed to the grading outcome) that determines the next step in the screening and treatment pathway for the person with diabetes once their imagesets have been graded.</p>

        <h3 id="affected">Affected</h3>

        <p>An individual who has the target condition.</p>

        <h3 id="at-risk-couples">At risk couples</h3>

        <p>Pregnancies identified with a potential risk of an <a href="#affected" class="govuk-link">affected</a> baby, based on antenatal screening results for both parents. Cases where the father is not available for testing or where father results cannot be linked to mother results are also considered to be ‘at risk’ for an <a href="#affected" class="govuk-link">affected</a> pregnancy.</p>

        <h3 id="at-risk-women">At risk women</h3>

        <p>Women who are carriers or affected with a clinically significant haemoglobin variant where the haemoglobinopathy status of the baby’s biological father is unknown.</p>

        <h3 id="axilla">Axilla</h3>

        <p>The axilla is a pyramidal space between the upper lateral part of the chest and the medial side of the arm. More commonly known as the armpit.</p>

        <h2 class="govuk-heading-l" id="b">B</h2>

        <h3 id="blood-spot">Blood spot</h3>

        <p>A sample of blood that is taken from a baby’s heel and spotted onto a special type of filter paper. A number of tests are then carried out on this blood spot. These tests are often called newborn blood spot screening.</p>

        <h3 id="booking">Booking</h3>

        <p>The point at which a pregnant woman first sees a midwife to book for maternity care. At the booking appointment the maternity records are completed and antenatal screening is <a href="#offer" class="govuk-link">offered</a>.</p>

        <h3 id="breast-screening-select">Breast screening select</h3>

        <p>A national database which holds details of all eligible women for screening. It is used by services to call and recall women to screening appointments. It has replaced the functionality of the National Health Application and Infrastructure Services (NHAIS) system for call/recall.</p>

        <h2 class="govuk-heading-l" id="c">C</h2>

        <h3 id="call-and-recall">Call and recall</h3>

        <p>The process of inviting individuals for screening at regular defined intervals.</p>

        <h3 id="cdmam-test-object">CDMam test object</h3>

        <p>A device used by medical physicists to measure mammographic image quality. It consists of an array of gold disks of different sizes and thicknesses.</p>

        <h3 id="clear-response-cr">Clear response (CR)</h3>

        <p>When a response is detected after a completed newborn hearing screening test.</p>

        <h3 id="community-programme">Community programme</h3>

        <p>Screening is carried out by health visitors or screeners trained to undertake newborn hearing screening. The screen is performed at the primary health visitor birth visit.</p>

        <h3 id="completeness-of-offer">Completeness of offer</h3>

        <p>The proportion of those eligible for screening who are offered screening. Completeness of offer is a measure of how effectively a programme offers screening to the eligible population.</p>

        <h3 id="consultation">Consultation</h3>

        <p>Attendance at a hospital eye service for assessment of retinopathy or maculopathy.</p>

        <h3 id="contraindicated">Contraindicated</h3>

        <p>When screening cannot be completed for medical reasons.</p>

        <h3 id="corrected-age">Corrected age</h3>

        <p>This is the chronological age of a baby minus the number of weeks or months they were born early. This applies to babies born prematurely where prematurity is defined as less than 37 completed weeks.</p>

        <p>For the purpose of newborn hearing screening, the use of corrected age is applied to all babies whose gestational age is &lt; 40 weeks at birth.</p>

        <h3 id="coverage">Coverage</h3>

        <p>The proportion of the eligible population that is tested and has a result documented.</p>

        <h2 class="govuk-heading-l" id="d">D</h2>

        <h3 id="data-source">Data source</h3>

        <p>Where the data comes from.</p>

        <h3 id="day-of-report">Day of report</h3>

        <p>The day on which data for submission is collated. Usually there will be a time lag between the end of the <a href="#reporting%20period" class="govuk-link">reporting period</a> and the day of report to allow for the completion of processes being measured and the collation of report data.</p>

        <h3 id="denominator">Denominator</h3>

        <p>The part of a fraction that is below the line and that functions as the divisor of the numerator.</p>

        <h3 id="digital-surveillance-ds">Digital surveillance (DS)</h3>

        <p id="digital">The pathway under which a person with diabetes requires monitoring on a more frequent basis than annual routine digital screening but there is no current requirement for the person with diabetes to be referred to hospital eye services (HES).</p>

        <h3 id="digital-surveillance-event">Digital surveillance event</h3>

        <p>Attendance for a <a href="#digital%20surveillance" class="govuk-link">digital surveillance</a> appointment by a person with diabetes.</p>

        <h3 id="due-date">Due date</h3>

        <p>The date on which a subsequent appointment is due. If a person with diabetes on an annual screening interval is screened on 1 April 2015 then their next due date is a year later on 1 April 2016.</p>

        <h2 class="govuk-heading-l" id="e">E</h2>

        <h3 id="effective-timeframe">Effective timeframe</h3>

        <p id="effective">The period of time within which a screening test can be delivered such that a result is most likely to be obtained. The effective timeframe for a test is usually specified by the relevant screening programme.</p>

        <h3 id="eligible">Eligible</h3>

        <p id="eligible">The population that is entitled to an <a href="#offer" class="govuk-link">offer</a> of screening.</p>

        <h3 id="excluded">Excluded</h3>

        <p>People with diabetes who are on the screening programme register but are not invited for screening as they have opted out or are classed as medically unfit.</p>

        <h2 class="govuk-heading-l" id="f">F</h2>

        <h3 id="final-grading-outcome">Final grading outcome</h3>

        <p>Following internal quality assurance procedures, the assessment of a level of diabetic retinopathy from the evidence as presented.</p>

        <h3 id="first-appointment">First appointment</h3>

        <p>The initial offer of an appointment to a person with diabetes who was not previously invited since they were added to the screening programme register.</p>

        <h3 id="first-rds-event--first-screening">First RDS event / first screening</h3>

        <p>The first attendance at an appointment of a person with diabetes who has not previously attended since being added to the screening programme register.</p>

        <h3 id="haemoglobin-variant">Haemoglobin variant</h3>

        <p>An unusual haemoglobin that may have no consequences, but can cause clinical problems, including sickle cell disease or other types of anaemia.</p>

        <h3 id="hospital-programme">Hospital programme</h3>

        <p>Screening is undertaken in maternity units by NHSP trained staff. The screen is completed before discharge from hospital.</p>

        <h2 class="govuk-heading-l" id="i">I</h2>

        <h3 id="imageset">Imageset</h3>

        <p>The set of images which are captured for a single person with diabetes during screening. Usually, an imageset consists of 4 images – one macular and one nasal for each eye.</p>

        <h3 id="incident-screen">Incident screen</h3>

        <p>Screening of an individual who had previously been adequately screened within an NHS screening programme.</p>

        <h3 id="index-colonoscopy">Index colonoscopy</h3>

        <p>The first colonoscopy following an abnormal guaiac faecal occult blood test (<abbr title="guaiac faecal occult blood test">gFOBT</abbr>) screening test result.</p>

        <h3 id="ineligible">Ineligible</h3>

        <p>People with diabetes who are on the screening programme register but are not eligible for screening as they have no perception of light in both eyes.</p>

        <h3 id="informed-choice-to-accept-screening">Informed choice to accept screening</h3>

        <p>A decision made to accept the <a href="#offer" class="govuk-link">offer</a> of a screening test based on access to accessible, accurate, evidence-based information covering:</p>

        <ul>
          <li>the condition being screened for</li>
          <li>the testing process</li>
          <li>the risks, limitations, benefits and uncertainties</li>
          <li>the potential outcomes and ensuing decisions</li>
        </ul>

        <h3 id="informed-choice-to-decline-screening">Informed choice to decline screening</h3>

        <p>A decision made to decline the <a href="#offer" class="govuk-link">offer</a> of a screening test based on access to accessible, accurate, evidence-based information covering:</p>

        <ul>
          <li>the condition being screened for</li>
          <li>the testing process</li>
          <li>the risks, limitations, benefits and uncertainties</li>
          <li>the potential outcomes and ensuing decisions</li>
        </ul>

        <h3 id="interval-cancer">Interval cancer</h3>

        <p>Cancers diagnosed in the interval between scheduled screening episodes.</p>

        <h3 id="invasive-cancer">Invasive cancer</h3>

        <p>Cancer that has spread beyond the layer of tissue in which it developed and is growing into surrounding, healthy tissues. Also called infiltrating cancer.</p>

        <h3 id="invite">Invite</h3>

        <p id="invite">Formal communication made by the screening service for a screening event.</p>

        <h2 class="govuk-heading-l" id="m">M</h2>

        <h3 id="matched-cohort">Matched cohort</h3>

        <p>A defined population who are followed through the different stages of screening. For example, women booking for antenatal care are followed through to a screening result.</p>

        <h2 class="govuk-heading-l" id="n">N</h2>

        <h3 id="non-invasive-cancer-including-ductal-carcinoma-in-situ-dcis-">Non-invasive cancer (including ductal carcinoma in situ (DCIS) )</h3>

        <p>An early stage cancer that has remained localised and confined to the layer of tissue from which it first developed and has not spread (metastasized) to surrounding tissue or other parts of the body. Also known as in situ cancer or non-invasive cancer.</p>

        <h3 id="numerator">Numerator</h3>

        <p>The part of a fraction that is above the line and signifies the number to be divided by the denominator.</p>

        <h2 class="govuk-heading-l" id="o">O</h2>

        <h3 id="offer">Offer</h3>

        <p id="offer">A formal communication, giving an individual a realistic opportunity to accept or decline screening.</p>

        <h3 id="off-register">Off-register</h3>

        <p>People with diabetes who are not on the screening programme register due to being categorised as: deceased, moved out of area, not diabetic, under 12, seen in another programme or refused demographic transfer.</p>

        <h2 class="govuk-heading-l" id="p">P</h2>

        <h3 id="permanent-childhood-hearing-impairment-pchi">Permanent childhood hearing impairment (PCHI)</h3>

        <p>A condition of moderate or worse degree where moderate or worse is defined as an average hearing threshold (over frequencies 0.5, 1.0, 2.0 and 4 kHz) of 40 dB or more in the better hearing ear.</p>

        <h3 id="prevalent-screen">Prevalent screen</h3>

        <p>The first screening invitation that the individual accepts and is adequately screened.</p>

        <h3 id="published-by">Published by</h3>

        <p>The level of geography by which the data is published.</p>

        <h2 class="govuk-heading-l" id="r">R</h2>

        <h3 id="register">Register</h3>

        <p>Collated list of people with diabetes under this screening programme who are either eligible or ineligible for screening.</p>

        <h3 id="reported-by">Reported by</h3>

        <p>The level of geography by which the data is submitted.</p>

        <h3 id="reporting-period">Reporting period</h3>

        <p id="reporting">The time period over which activities should be included in a data submission.</p>

        <h3 id="responsible-for-data-quality-and-completeness">Responsible for data quality and completeness</h3>

        <p>The organisation(s) responsible for making sure data submitted or entered on to a national screening IT system is accurate and complete.</p>

        <h3 id="responsible-for-submission">Responsible for submission</h3>

        <p>The organisation that submits data to Public Health England Screening.</p>

        <h3 id="routine-digital-screening-rds">Routine digital screening (RDS)</h3>

        <p>The first stage of the screening pathway where digital images are obtained, graded and a referral outcome is decided.</p>

        <h2 class="govuk-heading-l" id="s">S</h2>

        <h3 id="screen-negative">Screen negative</h3>

        <p>A screening test result that indicates the individual does not need further assessment / referral.</p>

        <h3 id="screen-positive">Screen positive</h3>
        <p>A screening test result that indicates the individual needs further assessment / referral.</p>

        <h3 id="short-term-recall">Short term recall</h3>

        <p>A second invitation to attend an assessment clinic at less than the routine (36 months) screening interval. This is usually one year after the initial screening appointment.</p>

        <h3 id="slit-lamp-biomicroscopy-surveillance-slbs">Slit lamp biomicroscopy surveillance (SLBS)</h3>

        <p>The method of screening for people with diabetes for whom adequate retinal examination cannot be obtained by retinal photography.</p>

        <h3 id="suspended">Suspended</h3>

        <p>Eligible individuals on the register but not invited for routine screening while under care due to previous screening results.</p>

        <h2 class="govuk-heading-l" id="t">T</h2>

        <h3 id="transfusion">Transfusion</h3>

        <p>The transfusion of whole blood or any blood product that will affect the circulating concentration of the measured metabolite. This refers to blood transfusions, exchange transfusions, platelets and fresh frozen plasma (excludes albumin).</p>

        <h3 id="true-positive">True positive</h3>

        <p>Individuals who have the target condition who were correctly identified with a screen positive result.</p>

        <h2 class="govuk-heading-l" id="u">U</h2>

        <h3 id="ungradable">Ungradable</h3>

        <p>Image or sample that fails to meet the defined criteria.</p>

        <h3 id="uptake">Uptake</h3>

        <p>The proportion of the eligible population offered screening and have a result documented.</p>

      </div><!-- /col -->
    </div><!-- /row -->

{% endblock %}
