{% extends "layouts/main.html" %}

{% block pageTitle %}
Reporting a crime – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-xl">Get specialist help after a crime</h1>
    <aside class="tasks-nav" role="complementary">
      <nav aria-label="Pages in this guide" role="navigation">
        <h2 class="govuk-body">Contents</h2>
        <ol class="govuk-list">
          <li><a href="index">Overview</a></li>
          <li><a href="reporting-a-crime">Reporting a crime</a></li>
          <li aria-current="true">Investigating a crime</li>
          <li><a href="#">Going to court</a></li>
          <li><a href="#">After a trial</a></li>
        </ol>
      </nav>
    </aside>
    <hr>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Investigating a crime</h2>

        <p class="govuk-body">After a crime’s been reported, the police will decide whether to start an investigation.</p>

        <p class="govuk-body">The police will also decide if you need any special help throughout the investigation - for example, if you’ve been feeling very anxious or intimidated since the crime was reported. </p>

        <h3 class="govuk-heading-m">How long a police investigation takes</h3>
        <p class="govuk-body">Investigations can take a long time and some crimes are never solved.</p>

        <p class="govuk-body">You can find out the average time a criminal case takes.</p>

        <h3 class="govuk-heading-m">Keeping up to date</h3>
        <p class="govuk-body">The police will keep you informed at important points in the investigation.</p>

        <p class="govuk-body">You can agree with the investigating officer how often you’d like to hear from them. You can also contact them whenever you want an update.</p>

        <p class="govuk-body">You’ll always be contacted at the end of the investigation.</p>

        <h3 class="govuk-heading-m">Learning the outcome of an investigation</h3>
        <p class="govuk-body">The police will let you know within 5 working days of the suspect being:</p> 
        <ul class="govuk-list">
          <li>arrested</li>
          <li>charged</li>
          <li>released without charge</li>
          <li>released under investigation (where there are no bail conditions)</li>
          <li>released on bail</li>
          <li>given a caution, reprimand, final warning or penalty notice</li>
        </ul>   
        
        <p class="govuk-body">You'll get this information within 1 working day if you've been the victim of a serious crime, repeatedly targeted, or are intimidated or vulnerable.</p>

        <p class="govuk-body">Your case won't go to court if a suspect is released without charge or given a caution, reprimand, final warning or penalty notice. </p>

        <h3 class="govuk-heading-m">Deciding if a case should go to court</h3>
        <p class="govuk-body">When the police finish their investigation they might pass the information to the Crown Prosecution Service (CPS). The police or CPS will decide whether to take the case to court.</p>

        <p class="govuk-body">If they later decide to stop or change your case, you should be told the reasons why within 5 working days.</p>

        <p class="govuk-body">If you’re unhappy with a decision made by the CPS you can ask for it to be reviewed through the Victims’ Right to Review scheme. </p>

        <p class="govuk-body">If it was the police who decided not to prosecute a suspect, you can ask the relevant police force to review their decision.</p>

        <h3 class="govuk-heading-m">Knowing if you’ll have to go to court</h3>
        <p class="govuk-body">If the defendant pleads guilty at their court hearing, the case won’t go to trial. This means you won’t need to go to court.</p>

        <p class="govuk-body">If the defendant pleads not guilty and you were a victim or witness of the crime, you’re likely to be called to give evidence at asked. You can ask for extra help in court (known as 'special measures') so that you can give your best evidence.</p>

        <h3 class="govuk-heading-m">Making a complaint</h3>
        <p class="govuk-body">You can make a complaint if you’re unhappy with the way you’re treated by any of the services supporting you after a crime.</p>

        <h3 class="govuk-heading-m">Your rights during a police investigation</h3>
        <p class="govuk-body">You’re entitled to:</p>

        <ul class="govuk-list">
          <li>be kept updated by the police on the investigation</li>
          <li>be told when a suspect's been arrested and charged</li>
          <li>be told whether or not the suspect will be taken to court </li>
          <li>ask for a review if you’re the victim of a crime and the CPS or police decide not to prosecute a suspect</li>
          <li>apply for compensation under the Criminal Injuries Compensation Scheme, depending on the crime</li>
        </ul>
        <p class="govuk-body">You can read about all your entitlements as a victim or witness of crime in the Victims' Code and the Witness Charter. </p>

        <h3 class="govuk-heading-m">What you should do during a police investigation</h3>
        <p class="govuk-body">Contact the investigating officer if you want an update on the crime
        Tell the police if you think you need any kind of extra help during an investigation
        Ask to be told if the police will be speaking to newspapers or TV stations about the crime (it’s against the law to publish information about you if you’re under 18 or the victim of a sexual crime)</p>
            
        <p class="govuk-body">After you report a crime, there are people who are trained to make sure you get any support that you need.</p>

        <h3 class="govuk-heading-m">Checking if it's a crime</h3>
        <p class="govuk-body">It's normally a crime if someone's been deliberately harmed physically or mentally, or something they own has been stolen or damaged.</p>
            
        <h3 class="govuk-heading-m">Telling the police or Crimestoppers</h3>
        <p class="govuk-body">If a crime's taking place, someone's in danger or the suspect's nearby, call 999. </p>
      </div><!-- 2col -->
      <aside class="govuk-grid-column-one-third glossary">
        <h3 class="govuk-heading-m">Glossary</h3>
        <dl class="govuk-list">
          <dt>Bail</dt>
          <dd>When the suspect is free until they have to return to the police station or court.</dd>
          <dt>Charge</dt>
          <dd>When a person is officially accused of committing a crime.</dd>
          <dt>Crown Prosecution Service (CPS)</dt>
          <dd>The CPS presents criminal cases at court after they have been investigated by the police.</dd>
          <dt>Defendant</dt>
          <dd>The person charged with a criminal offence.</dd>
          <dt>Evidence</dt>
          <dd>Information that can show what happened in a case.</dd>
          <dt>Investigating officer</dt>
          <dd>The police officer in charge of your case who can keep you up to date with the investigation. You can call them on 101. When you report the crime you'll be given a crime reference number. You'll need this number to be put through to the right person.</dd>
          <dt>Investigation</dt>
          <dd>When the police take witness statements and gather evidence to try and establish the facts of a crime and charge a suspect. </dd>
          <dt>Special measures</dt>
          <dd>The extra support a court can provide to help vulnerable or intimidated witnesses give their best evidence. These measures could include putting screens around the witness box.</dd>
          <dt>Witness Charter</dt>
          <dd>A government document which sets out how you can expect to be treated by the police if you witnessed a crime, and if you have to give evidence in court. Different versions are available, including an easy-to-read brochure as well as the full charter in English and Welsh.</dd>
        </dl>
        <p class="govuk-body"><a class="govuk-link" href="glossary">See the full glossary</a></p>
      </aside><!-- aside col -->
    </div><!-- row -->
    <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Pagination">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="reporting-a-crime" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/driving-lessons-learning-to-drive" data-track-dimension="previous" data-track-dimension-index="29">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Reporting a crime</span>
        </a>
      </div>

      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next">
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Next</span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Going to court</span>
        </a>
      </div>
    </nav>
{% endblock %}
