{% extends "layouts/main.html" %}

{% block pageTitle %}
Reporting a crime – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-xl">Get specialist help after a crime</h1>
    <aside class="tasks-nav" role="complementary">
      <nav aria-label="Pages in this guide" role="navigation">
        <h2 class="govuk-body">Contents</h2>
        <ol class="govuk-list">
          <li><a href="index">Overview</a></li>
          <li aria-current="true">Reporting a crime</li>
          <li><a href="investigating-a-crime">Investigating a crime</a></li>
          <li><a href="#">Going to court</a></li>
          <li><a href="#">After a trial</a></li>
        </ol>
      </nav>
    </aside>
    <hr>
    <h2 class="govuk-heading-l">Reporting a crime</h2>

    <p class="govuk-body">After you report a crime, there are people who are trained to make sure you get any support that you need.</p>

    <h2 class="govuk-heading-m">Checking if it's a crime</h2>
    <p class="govuk-body">It's normally a crime if someone's been deliberately harmed physically or mentally, or something they own has been stolen or damaged.</p>

    <p class="govuk-body">If you're not sure whether a crime has taken place, Victim Support gives clear explanations and advice about common types of crime. These include:</p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">domestic abuse</a>
      </li>
       <li>
        <a class="govuk-link" href="#">hate crime</a>
      </li>
       <li>
        <a class="govuk-link" href="#">stalking and harassment</a>
      </li>
    </ul>
        
    <h3 class="govuk-heading-m">Telling the police or Crimestoppers</h3>
    <p class="govuk-body">If a crime's taking place, someone's in danger or the suspect's nearby, call 999. </p>

    <p class="govuk-body">If it’s not an emergency, you can call the police on 101 or go to your local police station. You might also be able to report it to your local police force online. </p>

    <p class="govuk-body">If you want to report a crime anonymously, you can call Crimestoppers on 0800 555111 or give them information online.</p>

    <p class="govuk-body">By reporting a crime, you could help stop the person causing more harm to you or other people. </p>

    <h3 class="govuk-heading-m">Getting a crime reference number</h3>
    <p class="govuk-body">When you report a crime to the police you'll be given a crime reference number.</p>

    <p class="govuk-body">Make sure you keep a note of the number - you’ll need it whenever you contact the investigating officer for an update on the case. </p>

    <h3 class="govuk-heading-m">Meeting your needs</h3>
    <p class="govuk-body">The police will carry out an assessment of your needs if you give them a statement.</p>

    <p class="govuk-body">The needs assessment includes:</p>
    <ul class="govuk-list">
      <li>when and how you want to be contacted</li>
      <li>any language or communication needs you may have</li>
      <li>Any reasonable changes can be made (such as using an interpreter) to make sure that you’re getting the information and support you need.</li>
    </ul>
        
    <p class="govuk-body">The police will also assess whether you’re vulnerable or intimidated. They’ll talk to you about 'special measures' to help you give your best evidence (for example, speaking from behind a screen if the case goes to court).</p>

    <p class="govuk-body">Everyone under the age of 18 is treated as a vulnerable witness.</p>

    <h3 class="govuk-heading-m">Giving a statement</h3>
    <p class="govuk-body">A witness statement is a written account of what happened, and it can be used as evidence in court.

    <p class="govuk-body">The person interviewing you must make sure that:</p>
    <ul class="govuk-list">
      <li>they consider what help you might need to make the statement</li>
      <li>they understand and accurately record what you’re telling them</li>
      <li>you get to check that it’s an accurate record</li>
      <li>you can change anything that’s incorrect before you sign it</li>
    </ul>

    <p class="govuk-body">Once you’ve signed your witness statement, you won’t be able to change it. But you can give a new one to the police if you want to add more information.</p>

    <p class="govuk-body">If you’re a victim of the crime, the police will also give you the chance to make a Victim Personal Statement.</p>

    <h3 class="govuk-heading-m">Making a Victim Personal Statement</h3>
    <p class="govuk-body">A Victim Personal Statement is different to a witness statement. It gives you the chance to describe how the crime has affected you physically, mentally or financially.</p>

    <p class="govuk-body">If your case goes to court, your Victim Personal Statement will be shown to the defendant and their lawyers. It can also:</p>

    <ul class="govuk-list">
      <li>have questions asked about it in the courtroom</li>
      <li>be read out if the defendant's found guilty</li>
    </ul>
        
    <p class="govuk-body">You might be asked to make a Victim Personal Statement and a witness statement if you’re:</p>

    <ul class="govuk-list">
      <li>intimidated or vulnerable, have been persistently targeted, or the victim of a serious crime</li>
      <li>the parent or guardian of a young victim of crime</li>
      <li>a close relative of someone who's died as the result of a crime</li>
    </ul>
        
    <p class="govuk-body">Once you’ve signed your Victim Personal Statement, you won’t be able to change it. But you can give a new one to the police if you want to add more information.</p>

    <h3 class="govuk-heading-m">Getting support after reporting a crime</h3>
    <p class="govuk-body">All victims and witnesses of crime are entitled to support.</p> 

    <p class="govuk-body">The police will give your details to your local support service within 2 working days. Someone from this service will get in touch to see what help you might need.</p> 

    <p class="govuk-body">Tell the police officer if you don’t want them to share your details with a support service. </p>

    <p class="govuk-body">If you’re the victim of a sexual offence or domestic abuse, or the relative of someone killed as a result of a crime, the police must check with you first before passing on your details.</p>

    <p class="govuk-body">You can contact your local support team if you’re a victim or witness and you need help quickly.</p>

    <h3 class="govuk-heading-m">Making a complaint</h3>
    <p class="govuk-body">You can make a complaint if you’re unhappy with the way you’re treated by any of the services supporting you after a crime.</p>

    <h3 class="govuk-heading-m">Your rights when you report a crime</h3>
    <p class="govuk-body">You’re entitled to get:</p>

    <ul class="govuk-list">
      <li>written confirmation of the crime you’ve reported</li>
      <li>a clear explanation of how the criminal justice system works</li>
      <li>help working out what support you need (a ‘needs assessment’)</li>
      <li>a referral to organisations that can offer you support</li>
      <li>the option to make a Victim Personal Statement explaining how the crime has affected you</li>
      <li>information on restorative justice</li>
    </ul>
    <p class="govuk-body">You can read about all your entitlements as a victim or witness of crime in the Victims' Code and the Witness Charter.</p>
    
    <h3 class="govuk-heading-m">What you should do when reporting a crime</h3>
    <ol class="govuk-list">
      <li>Keep a note of the crime reference number</li>
      <li>Tell the police if you don’t understand what they’re telling you</li>
      <li>Make sure you thoroughly check your statements before signing them</li>
      <li>Tell the police if you’re feeling nervous or vulnerable</li>
      <li>Ask for a police officer’s contact details so that you can stay updated on the crime</li>
      <li>Check that the police have considered all of your needs</li>
    </ol>
    <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Pagination">
      <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="index" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/driving-lessons-learning-to-drive" data-track-dimension="previous" data-track-dimension-index="29">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Overview</span>
        </a>
      </div>

      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="investigating-a-crime" rel="next">
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Next</span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Investigating a crime</span>
        </a>
      </div>
    </nav>
{% endblock %}
