{% extends "layouts/main.html" %}

{% block pageTitle %}
{{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-xl">Young victims of crime</h1>
    
    <h2 class="govuk-heading-l">Extra help from the start</h2>
    <p class="govuk-body">If you're under 18, there are lots of ways you'll get help after a crime. And that goes for your parent or guardian too, as long as it helps you. </p>

    <p class="govuk-body">You don't have to report the crime to the police to get the support you need. Find support near you.</p>

    <h2 class="govuk-heading-l">What happens if you report a crime</h2>
    <p class="govuk-body">When you talk to the police you can have someone with you. They'll just need to be over 18.</p>

    <p class="govuk-body">If you've seen the crime, you might be asked to describe what happened in a witness statement. This can be recorded on video, so you don't have to repeat it in court.</p>

    <p class="govuk-body">The investigating police officer will let you know in 1 working day what's happening with the suspect, for example if they're being allowed home before going to court.

    <p class="govuk-body">This officer will also pass your details on to a local support service that can help you recover from the crime and sort out any practical things for you.</p>

    <h2 class="govuk-heading-l">If your case goes to court</h2>
    <p class="govuk-body">The police will pass your details to the Witness Service, who are based in the court and will be in touch with you before the trial starts. They can answer your questions about what will happen. And they'll help you until the case is over.</p>

    <p class="govuk-body">The Witness Care Unit will see if you need extra support to give your best evidence. That could include giving evidence by live video link, so you don’t have to be in the courtroom.</p>

    <h2 class="govuk-heading-l">After the trial</h2>
    <p class="govuk-body">You might be able to join the Victim Contact Scheme. If you do, you'll be kept up to date with what's happening with the offender after they go to prison. </p>

    <p class="govuk-body">You can also give your thoughts on any rules they must follow when they come out of prison, such as staying away from where you live.</p>

    <p class="govuk-body">Your parent or guardian might be given this information. They can then decide what details to share with you.</p>


{% endblock %}
